h1 {
    font-size: 2.5rem;
    text-align: center; /* Centers the text horizontally */
    margin: 0 auto; /* Centers the element itself if it's a block element */
    width: 100%; /* Ensures the h2 takes up the full width of its container */
    padding-top: 4.5%;
}

body{
    padding-top: 0.5%;

}
