.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.home-page-header{
    padding: 12px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin-right: 16px;
}

.menu-panel {
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    position: fixed;
    top: -100%;
    transition: top 0.5s ease-in-out; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger-btn{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    display: none;
    max-width: 40px;
    overflow: hidden;
}
.close-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  
}

.menu-panel.active {
    top: 0; 
}

.menu-panel ul {
    list-style: none;
    padding: 50px 20px;
}
.menu-panel ul li {
    margin-bottom: 16px;
}
.menu-panel ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

nav > ul > li > a{
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
nav > ul > li > a:hover{
    color: #ff9800;
    transform: scale(1.1);
    z-index: 2;
}

@media screen and (max-width: 575px) {
    #burger {
      display: block;
    }
    .navigation {
      display: none;
    }
    .logo-container > h3 {
      display: none;
    }
    .menu-panel.active {
      right: 0;
    }
}
